body {
  background: linear-gradient(to right, #ffecd2, #fcb69f);
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 80px;
}

h1 {
  color: #333;
  margin-bottom: 40px;
font-size: 70px;}

#joke {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 60%;
  margin: 0 auto 30px;
  font-size: 26px;
  color: #444;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #ff7b54;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #ff6333;
  transform: scale(1.05);
}
